version: '3.8'

services:
  bot:
    build: .
    container_name: telegram_stream_bot
    restart: always
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - ./work_dir:/app/work_dir
